<!DOCTYPE html>
<html lang="en">
<head>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
    rel="stylesheet"
    />
    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
    ></script>
    <style>
        body{
          background-color: black;
          
          color:#d9852b;
          
          
        }
        #s{
          
          font-size: 2rem;
          
        }
        #s{
         color:#d9852b ;
        }
        #ss{
         color:#d9852b ;
     
        }
        #sss{
         color:#d9852b ;
        }
        #sa{
         color:#d9852b ;
        }
       
        
      
       .buttons:hover{
           background-color:#a37036;
       }
       .div{
           display: flex;
           margin: 2rem;
           justify-content: center;
           
           
       }
       h1{
           text-align: center;
       }
       .des{
           width:40vw;
           height:25vh;
          
          
       }

       
       
         
           

       

       
       
        
        
    </style>
    <title>Edit</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" id="s" href="">CurryKingdom</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" id="sa" aria-current="page" href="http://localhost:3000/menu">Home</a>
              <a class="nav-link" id="ss" href="http://localhost:3000/menu/add">Add a Dish</a>
              <a class="nav-link" id="sss" href="/menu">Home</a>
              
            </div>
          </div>
        </div>
    </nav>
    <h1>Edit</h1>
    

    <form action="/menu/<%= dish._id %>?_method=PUT" method="POST">
        <div class="div">
            <label for="Dish name">Dish Name: </label>
            <input type="text" name="name" id="dish Name" placeholder="dish name" value="<%= dish.name %>" required="true">
            <!-- takes the data that is save as uses that as a place holder to be edited -->
            
        </div>
        <div class="div">
            <label for="price">Price: </label>
            
            <input type="number" name="price" id="price" step="0.01" min="0"  placeholder="price" value="<%= dish.price %>" required="true">
        </div>
            
        
        <div class="div">
            <label for="img">Image URL: </label>
            <input type="text" name="img" placeholder="img url" id="img" value="<%= dish.img %>" required="true">
            
            
        </div>
        <div class="div">
            <label for="des" >Description</label>
            
            <textarea name="description" id="des" cols="30" rows="10" required="true"><%= dish.description %></textarea>
        </div>
        <div class="div">
            <label for="category">Category</label>
            <select name="category" id="category">
                <% for(let category of categories){ %>
                    <option value="<%= category %>" <%= dish.category  === category ? 'selected': '' %>><%= category %> </option> 
                    <!-- this checks what catgeory is applied on the item by looping over it and when found it applies the selected field -->
                     <!-- the category applied is the own shown -->
                <% } %>
            </select>
        </div>
        <button  class="btn btn-outline-warning" data-mdb-ripple-color="dark">
            Confirm Edit
        </button>

    
</body>
</html>